version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080" # PCの8080番をコンテナの8080番に繋ぐ
    volumes:
      - ./visitors.db:/app/visitors.db # persist only the DB file (do not mount source code)